@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
.hero {
  position: relative;
  height: 280px;
  overflow: hidden;

  background-image: url('../../image/conference.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.hero-overlay {
  position: absolute;
  inset: 0;

  background:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.55) 50%,
      #080808 100%
    );
}

.hero-content {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 20px 40px 20px;
}
.hero-content p, .hero-content span {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-transform: uppercase;
}
.hero-content span {
  color: #ffd34e;
  letter-spacing: 2px;
}
.hero-content p {
  margin: 0 0 20px;
  font-size: 24px;
  font-weight: 800;
  color: #ffffff;
}

.hero-content h1 {
  margin: 0;

  font-size: clamp(48px, 7vw, 88px);
  line-height: 0.95;
  font-weight: 900;
}