.feature-card {
  position: relative;

  width: 100%;
  min-height: 260px;

  border: none;
  border-radius: 22px;

  padding: 34px;

  text-align: left;

  cursor: pointer;

  transition:
    transform 0.2s ease,
    filter 0.2s ease;
}

.feature-card:hover {
  transform: translateY(-4px);
  filter: brightness(1.06);
}

.feature-card:active {
  transform: scale(0.98);
}

/* Icon */

.feature-card-icon {
  position: absolute;

  top: 34px;
  right: 34px;
}

/* Title */

.feature-card-title {
  position: absolute;

  left: 34px;
  bottom: 34px;

  font-size: clamp(32px, 4vw, 54px);
  line-height: 1.05;
  font-weight: 400;
}

/* Plus */
.card-icon-light {
  color: rgba(79, 79, 79, 0.94);
}
.card-icon-white {
  color: rgb(244, 244, 244);
}
.feature-card-plus {
  position: absolute;
  right: 28px;
  bottom: 28px;
  width: 68px;
  height: 68px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  color: rgba(79, 79, 79, 0.94);
  font-size: 42px;
  font-weight: 200;
}

/* ======================
   VARIANTS
====================== */

.feature-card.light {
  background: #f1eee5;
  color: #080808;
}

.feature-card.yellow {
  background: #ffd34e;
  color: #080808;
}

.feature-card.red {
  background: #ff0716;
  color: white;
}

.feature-card.blue {
  background: #1d3fd0;
  color: white;
}

/* ======================
   SIZE
====================== */

.feature-card.wide {
  grid-column: span 2;
}

/* ======================
   MOBILE
====================== */

@media (max-width: 700px) {
  .feature-card {
    min-height: 180px;
    padding: 20px;
    border-radius: 16px;
  }

  .feature-card.wide {
    min-height: 200px;
  }

  .feature-card-icon {
    top: 20px;
    right: 20px;
  }

  .feature-card-title {
    left: 20px;
    bottom: 20px;
    font-size: 22px;
  }

  .feature-card-plus {
    right: 15px;
    bottom: 15px;
    width: 32px;
    height: 32px;
  }
}