p {
  color: #ffffff;
}
.speakers-container {
  padding: 40px 20px 40px 20px;
  margin-bottom: 70px;
}
.speakers-label {
  margin-top: 15px;
  text-transform: uppercase;
}
.speakers-label span {
  color: rgb(131, 131, 131);
}
.speakers-label h1 {
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}