.speakerCards {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.speakerCards > * {
  flex: 0 0 calc(50% - 8px);
}
.speakerCards img {
  border-radius: 10%;
  object-fit: contain;
}